<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yenhenchia.projectpractice">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Spinner.SpinnerActivity"
            android:label="Spinner" />
        <activity
            android:name=".RadioButton.RadioButtonActivity"
            android:label="RadioButton" />
        <activity
            android:name=".NumberPicker.NumberPickerActivity"
            android:label="NumberPickerActivity" />
        <activity
            android:name=".ScrollViewAndCheckBox.ScrollViewAndCheckBoxActivity"
            android:label="ScrollViewAndCheckBox" />
        <activity
            android:name=".Linearlayout.LinearlayoutActivity"
            android:label="Linearlayout" />
        <activity android:name=".TableLayout.TableLayoutActivity" />
        <activity android:name=".RelativeLayout.RelativeLayoutActivity" />
        <activity android:name=".ButtonSelector.ButtonSelectorActivity" />
        <activity android:name=".CoordinatorLayout.CoordinatorLayoutActivity" />
        <activity android:name=".ImageButtonAndView.ImageButtonAndViewActivity" />
        <activity android:name=".GridView.GridViewActivity" />
        <activity android:name=".ViewAnimation.ViewAnimationActivity" />
        <activity android:name=".DrawableAnimationAndGame.DrawableAnimatinAndGameActivity" />
        <activity android:name=".PropertyAnimation.PropertyAnimationActivity" />
        <activity android:name=".SimpleFragment.SimpleFragmentActivity" />
        <activity android:name=".ImageListView.ImageListViewActivity" />
        <activity android:name=".ExpandableListView.ExpandListViewActivity" />
        <activity android:name=".RecyclerView.RecyclerViewAndCardViewActivity" />
        <activity android:name=".AutoCompleteText.AutoCompleteTextViewActivity" />
        <activity android:name=".SeekBarAndRatingBar.SeekBarAndRatingBarActivity" />
        <activity android:name=".DateAndTimePicker.DateAndTimePickerActivity" />
        <activity android:name=".ProgressBarAndDialog.ProgressBarAndDialogActivity" />
        <activity android:name=".AlertDialog.AlertDialogActivity" />
        <activity android:name=".SnackBar.SnackBarActivity" />
        <activity android:name=".CustomDialog.CustomDialogActivity" />
        <activity android:name=".SimpleIntent.SimpleIntentActivity" />
        <activity
            android:name=".SimpleIntent.SimpleIntentReceivedActivity"
            android:label="SimpleIntentReceived">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleBroadcast.SimpleBroadcastActivity" />

        <receiver
            android:name=".SimpleBroadcast.MyBroadcastReceive1"
            android:label="receive1">
            <intent-filter>
                <action android:name="com.android.MyBroadcastReceive1" />
            </intent-filter>
        </receiver>

        <activity android:name=".SimpleService.SimpleServiceActivity" />

        <service
            android:name=".SimpleService.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".SimpleAppWidget.SimpleAppWidgetActivity"
            android:label="App Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_configure" />
        </receiver>
        <receiver
            android:name=".CustomAppWidget.CustomAppWidgetProvider"
            android:exported="true"
            android:label="Custom APP Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.MY_OWN_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/custom_app_widget_configure" />
        </receiver>

        <activity android:name=".CustomAppWidget.CustomAppWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SimpleAppWidget.SimpleAppWidgetProvider2"
            android:label="SimpleAppWidget2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.SIMPLE_APP_WIDGET_2" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_configure_2" />
        </receiver>
        <receiver
            android:name=".SimpleAppWidget.SimpleAppWidgetProvider3"
            android:label="SimpleAppWidget3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.SIMPLE_APP_WIDGET_3" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_configure_3" />
        </receiver>

        <activity android:name=".ActivityLifecycle.ActivityLifecycleActivity" />
        <activity
            android:name=".ActionBarOptionMenu.ActionBarMenuActivity"
            android:label="ActionBarMenu" />

        <service
            android:name=".ActionBarOptionMenu.ActionBarMediaPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ActionBarContextMenu.ActionBarContextMenuActivity"
            android:label="ContextMenu" />
        <activity
            android:name=".ActionItemAndView.ActionItemAndViewActivity"
            android:label="ActionBar" />
        <activity android:name=".NavigationDrawer.NavigationDrawerActivity" />
        <activity android:name=".ScrollableSwipe.ScrollableSwipeActivity" />
        <activity android:name=".TabLayout.TabLayoutActivity" />
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".SQLite.SQLiteActivity" />
        <activity android:name=".ContentProvider.ContentProviderActivity"></activity>

        <provider
            android:authorities="com.example.yenhenchia.projectpractice.ContentProvider.FriendContentProvider"
            android:name=".ContentProvider.FriendContentProvider"
            android:exported="true"/>
    </application>

</manifest>